
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failed</title>
</head>
<body>
    <div>
        <h2>Log in Failed</h2>
    </div>
    <div>
        <p> @Html.ActionLink("Try Again", "Login")</p>
       
    </div>
</body>
</html>
